<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BoDi" version="1.5.0" targetFramework="net48" />
  <package id="Gherkin" version="19.0.3" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="2.2.7" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="2.2.7" targetFramework="net48" />
  <package id="NUnit" version="3.13.3" targetFramework="net48" />
  <package id="NUnit.ConsoleRunner" version="3.16.3" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="4.4.2" targetFramework="net48" />
  <package id="Selenium.Support" version="4.8.2" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.8.2" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="111.0.5563.6400" targetFramework="net48" />
  <package id="SpecFlow" version="3.9.40" targetFramework="net48" />
  <package id="SpecFlow.Actions.Configuration" version="0.1.332" targetFramework="net48" />
  <package id="SpecFlow.Actions.LambdaTest" version="0.1.332" targetFramework="net48" />
  <package id="SpecFlow.Actions.Selenium" version="0.1.332" targetFramework="net48" />
  <package id="SpecFlow.Internal.Json" version="1.0.8" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="5.0.1" targetFramework="net48" />
  <package id="System.Text.Json" version="5.0.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>